{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-primary text-center p-1 m-xs-b-1">
        <h2>TIPO DE ACTIVACIÓN: {{activaciontipo.nombre}}</h2>
    </div>
    <div class='table-wrap hidden-xs'>
        <table class="table-striped table-bordered admin-list">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Degustación Total</th>
                    <th>Giveaway Material</th>
                    <th>Proyectos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{activaciontipo.nombre}}</td>
                    <td>{{activaciontipo.degustaciontotal}}</td>
                    <td>{{activaciontipo.giveawaymaterial}}</td>
                   {# <td>{{activaciontipo.proyectos}}</td>#}
                </tr>
            </tbody>
        </table>


        <div class="col-xs-12">
            <a href="{{ path('activaciontipo_index') }}">
                <button class="btn">Regresar a listado</button>
            </a>
            <a href="{{ path('activaciontipo_edit', { 'id': activaciontipo.id }) }}">
                <button class="btn bg-ocean">Editar</button>
            </a>
        </div>
    </div>
{% endblock %}
