{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="clearfix"></div>
        <div class="x_title page-header bg-dark-ocean">
            <h4 class="ml-2">NUEVO PLAN</h4>
            <div class="clearfix"></div>
        </div>
        {{ form_start(form,{'attr':{'class':'form-expanded-selects mt-2'} }) }}
        {% form_theme form 'jquery.collection.html.twig' %}
        <div class='hidden'>
            {{ form_row(form._token) }}
        </div>
        <div class="col-md-6 col-md-offset-3 panel-group accordion-form" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Información General
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <div class="form-group">
                            {{ form_label(form.nombre, 'Nombre') }}
                            {{ form_errors(form.nombre) }}
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fecha_inicio, 'Fecha de Inicio') }}
                            {{ form_errors(form.fecha_inicio) }}
                            {{ form_widget(form.fecha_inicio) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fecha_fin, 'Fecha de finalización') }}
                            {{ form_errors(form.fecha_fin) }}
                            {{ form_widget(form.fecha_fin) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.descripcion, 'Descripción') }}
                            {{ form_errors(form.descripcion) }}
                            {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.marca, 'Marca') }}
                            {{ form_errors(form.marca) }}
                            {{ form_widget(form.marca, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.agencia, 'Agencia') }}
                            {{ form_errors(form.agencia) }}
                            {{ form_widget(form.agencia, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.activaciones_tipo, 'Tipo de activaciones') }}
                            {{ form_errors(form.activaciones_tipo) }}
                            {{ form_widget(form.activaciones_tipo, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.total_activaciones, 'Total de activaciones') }}
                            {{ form_errors(form.total_activaciones) }}
                            {{ form_widget(form.total_activaciones, {'attr': {'class': 'form-control'} }) }}
                        </div>
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Objetivos
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                            <div class="form-group">
                                {{ form_label(form.kpi_tipo, 'Tipo de venta') }}
                                {{ form_errors(form.kpi_tipo) }}
                                {{ form_widget(form.kpi_tipo, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.kpi_total, 'Venta total') }}
                                {{ form_errors(form.kpi_total) }}
                                {{ form_widget(form.kpi_total, {'attr': {'class': 'form-control'} }) }}
                            </div>                            
                            <div class="form-group">
                                {{ form_label(form.kpi_impactos, 'Impactos') }}
                                {{ form_errors(form.kpi_impactos) }}
                                {{ form_widget(form.kpi_impactos, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.kpi_degustaciones, 'Degustaciones') }}
                                {{ form_errors(form.kpi_degustaciones) }}
                                {{ form_widget(form.kpi_degustaciones, {'attr': {'class': 'form-control'} }) }}
                            </div>
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Regionalización
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div class="form-group search-f">
                            {{ form_label(form.regiones, 'Regiones') }}
                            {{ form_errors(form.regiones) }}
                            {{ form_widget(form.regiones, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group search-f">
                            {{ form_label(form.plazas, 'Plazas') }}
                            {{ form_errors(form.plazas) }}
                            {{ form_widget(form.plazas, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group search-f">
                            {{ form_label(form.cdcs, 'Centros de consumo') }}
                            {{ form_errors(form.cdcs) }}
                            {{ form_widget(form.cdcs, {'attr': {'class': 'form-control'} }) }}
                        </div>
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Asignaciones
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                            <div class="form-group">
                                {{ form_label(form.asignacionesRegion, 'Asignaciones de región') }}
                                {{ form_errors(form.asignacionesRegion) }}
                                {{ form_widget(form.asignacionesRegion) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.asignacionesSquare, 'Asignaciones de plaza') }}
                                {{ form_errors(form.asignacionesSquare) }}
                                {{ form_widget(form.asignacionesSquare) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.asignacionesCdc, 'Asignaciones de centros de consumo') }}
                                {{ form_errors(form.asignacionesCdc) }}
                                {{ form_widget(form.asignacionesCdc) }}
                            </div>
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Filtros
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                            <div class="form-group">
                                {{ form_label(form.tiempo_cancelacion, 'Tiempo de cancelación') }}
                                {{ form_errors(form.tiempo_cancelacion) }}
                                {{ form_widget(form.tiempo_cancelacion, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.maximo_plaza, 'Máximo de activaciones en simultaneo por plaza') }}
                                {{ form_errors(form.maximo_plaza) }}
                                {{ form_widget(form.maximo_plaza, {'attr': {'class': 'form-control'} }) }}
                            </div>
                      </div>
                    </div>
                </div>
                {% include 'proyecto/_buttons.html.twig' with {'send': 'yes' } %}

                {{ form_end(form) }}
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();

        {#var $proyect = $('#we_reportbundle_proyecto_regiones');

        $proyect.change(function () {
            var $form = $(this).closest('form');
            var data = {};
            data[$proyect.attr('name')] = $proyect.val();
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    $('#we_reportbundle_proyecto_plazas').replaceWith(
                            $(html).find('#we_reportbundle_proyecto_plazas')
                            );

                    var $plazas = $('#we_reportbundle_proyecto_plazas');

                    $plazas.change(function () {
                        var $form = $(this).closest('form');
                        var data = {};
                        data[$proyect.attr('name')] = $proyect.val();
                        data[$plazas.attr('name')] = $plazas.val();
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            data: data,
                            success: function (html) {
                                $('#we_reportbundle_proyecto_cdcs').replaceWith(
                                        $(html).find('#we_reportbundle_proyecto_cdcs')
                                        );
                            }
                        });
                    });
                }
            });
        });#}




    </script>
{% endblock %}