{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-primary text-center p-1 m-xs-b-1">
        <h2>Usuario: {{usuario.nombre}}</h2>
    </div>
    <div class='table-wrap hidden-xs'>
        <table class="table-striped table-bordered admin-list">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Agencia</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.agencia}}</td>
                    <td>{{usuario.tipo}}</td>
                </tr>
            </tbody>
        </table>


        <div class="col-xs-12">
            <a href="{{ path('agencia_usuario_index') }}">
                <button class="btn">Regresar a listado</button>
            </a>
            <a href="{{ path('agencia_usuario_edit', { 'id': usuario.id }) }}">
                <button class="btn bg-ocean">Editar</button>
            </a>
        </div>
    </div>
{% endblock %}
