{% trans_default_domain 'FOSUserBundle' %}
<div>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="post">
                    <h1>Contraseña</h1>
                    <div>
                        <input class="form-control b-r-0" placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" name="username" required="required" />
                    </div>
                  
                    <div class="text-center">
                        <input class="btn bg-dark-ocean b-r-0 w50 submit pull-right" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <div class="img-wrap">
                            {% image '@ReportBundle/Resources/public/images/login-img.png' %}
                            <img src="{{ asset_url }}" alt="" class="img-responsive my-3"/>
                            {% endimage %}
                        </div>
                        <div class="img-wrap">
                            {% image '@ReportBundle/Resources/public/images/footer-logo.png' %}
                            <img src="{{ asset_url }}" alt="" class="img-responsive mx-auto"/>
                            {% endimage %}
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>