{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-primary text-center p-1 m-xs-b-1">
        <h2>Agencia: {{agencia.nombre}}</h2>
    </div>
    <div class='table-wrap hidden-xs'>
        <table class="table-striped table-bordered admin-list">
            <thead>
                <tr>
{#                    <th>Región</th>
                    <th>Abreviación</th>#}
                </tr>
            </thead>
            <tbody>
                <tr>

 {#                   <td>{{agencia.region}}</td>
                    <td>{{agencia.abreviacion}}</td>#}
                </tr>
            </tbody>
        </table>


        <div class="col-xs-12">
            <a href="{{ path('agencia_index') }}">
                <button class="btn">Regresar a listado</button>
            </a>
            <a href="{{ path('agencia_edit', { 'id': agencia.id }) }}">
                <button class="btn bg-ocean">Editar</button>
            </a>
        </div>
    </div>
{% endblock %}
